html {
	height: 100%;
}

body {
	height: 100%;
	margin: 0px;
	padding: 0px;
}

#map-canvas {
	height: 100%;
	width: 100%;
	margin: 0px;
	padding: 0px
}


#map_container {

	width: 100%;
	height: 600px;
}




#dash {
	width: 100%;
	height: 50px;
}

#dashboard_1 {
	position: absolute;
	margin-left: 20px;
}

#dashboard_2 {
	position: absolute;
	margin-left: 490px;
}

#dashboard_3 {
	position: absolute;
	margin-left: 930px;
}

#stats {
	float:right;
	position: absolute;
	background-color: #fcd283;
	width: 100%;
	height: 200px;
}

#strade {
	position: absolute;
	margin-left: 50px;
	height: 200px;
	width: 350px;
	overflow: auto;

}
#veicoli
 {
 
	position: relative;
	float:right;
	height: 200px;
	width:280px;
	overflow: auto;

}

#dinamica{
 
	position: relative;
	float:right;
	height: 200px;
	width:300px;
	overflow: auto;

}

#tipoIncidente
 {
 	margin-top:20px;
	position: relative;
	float:right;
	height: 200px;
	width:300px;
	overflow: auto;

}


#headStrade {
	position: absolute;
	z-index: 3;
}
.axis text {
  font: 10px sans-serif;
}

.axis path,
.axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

.bar {
  fill: steelblue;
  fill-opacity: .9;
}
// colori del calendario
.RdYlGn .q0-11{fill:rgb(165,0,38)}
.RdYlGn .q1-11{fill:rgb(215,48,39)}
.RdYlGn .q2-11{fill:rgb(244,109,67)}
.RdYlGn .q3-11{fill:rgb(253,174,97)}
.RdYlGn .q4-11{fill:rgb(254,224,139)}
.RdYlGn .q5-11{fill:rgb(255,255,191)}
.RdYlGn .q6-11{fill:rgb(217,239,139)}
.RdYlGn .q7-11{fill:rgb(166,217,106)}
.RdYlGn .q8-11{fill:rgb(102,189,99)}
.RdYlGn .q9-11{fill:rgb(26,152,80)}
.RdYlGn .q10-11{fill:rgb(0,104,55)}