html {
	height: 100%;
}
body {
	height: 100%;
	margin: 0px;
	padding: 0px;
}
table, th, td {
    border: 1px solid black;
    text-align:center;
    padding: 15px;
}
td.labels{
	text-align:left;
}
table tr:nth-child(even) {
    background-color: #eee;
}
table tr:nth-child(odd) {
    background-color: #fff;
}



#map-canvas {
	height: 100%;
	width: 100%;
	margin: 0px;
	padding: 0px
}
#mapgeo-canvas {
	height: 100%;
	width: 100%;
	margin: 0px;
	padding: 0px
}
#map_container {
	width: 100%;
	height: 600px;
}
#mapgeo_container {
	width: 100%;
	height: 600px;
}
#dash {
	width: 100%;
	height: 50px;
}
#overlay {
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    background: #000;
    opacity: 0.8;
    filter: alpha(opacity=80);
}
.axis text {
  font: 10px sans-serif;
  y:0;
  x:0;
}
.axis path,
.axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}
.line{
	fill: none;
  stroke: steelblue;
  stroke-width: 1.5px;
}
.bar {
  fill: steelblue;
  fill-opacity: .9;
}
.day {
  fill: #fff;
  stroke: #ccc;
}
.month {
  fill: none;
  stroke: #000;
  stroke-width: 2px;
}
.color-0{fill:rgb(160,255,160)}
.color-1{fill:rgb(60,255,60)}
.color-2{fill:rgb(20,140,20)}
.color-3{fill:#f1fa82}	
.color-4{fill:#fbf20e}
.color-5{fill:rgb(255,20,20)}
.color-6{fill:rgb(127,0,0)}
.color-7{fill:rgb(0,0,0)}